body {
    background-color: #b3b792;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.subtitulo {
    font-style: italic;
    color: #725c3a;
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: #e5e0d8;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 40px;
}

hr {
    height: 2px;
    background-color: #b3b792;
    border-color: #b3b792;
}

.linha-baixo {
    margin-top: 25px;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #809671;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #725c3a;
}

.sabor {
    text-align: left;
    width: 75%;
}

.preço {
    text-align: right;
    width: 25%;
}

footer {
    font-size: 14px;
    color: #725c3a;
}

.endereço {
    margin-bottom: 5px;
}

a {
    color: #725c3a;
}

a:visited {
    color: #725c3a;
}

a:hover {
    color: #809671;
}

a:active {
    color: #809671;
}